<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Club Card Shuffle - Fight corporate profiling by anonymously sharing club card numbers online.</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= favicon_link_tag "logo.png", rel: "shortcut icon", type: "image/png" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Club Card Shuffle</h1>
				<p class="lead">Fight corporate profiling by anonymously sharing club card numbers online.</p>
				<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#new" style="margin-top: 15px;">Add A Card</button>
			</div>
		</div>
		<div class="container">
			<%= yield %>
		</div>
		<div class="container">
			<footer>
				&copy; <a href="http://www.heyjones.com">Hey Jones!</a>
			</footer>
		</div>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= render 'layouts/ga' %>
	</body>
</html>